<p>
  chart-js works!
</p>


<div *ngIf="LineChart">
  <canvas id="LineChart">{{ LineChart }}</canvas>
</div>

<div *ngIf="BarChart">
  <canvas id="BarChart">{{ BarChart }}</canvas>
</div>

<div *ngIf="PieChart">
  <canvas id="PieChart">{{ PieChart }}</canvas>
</div>

<div *ngIf="DoughnutChart">
  <canvas id="DoughnutChart">{{ DoughnutChart }}</canvas>
</div>

<div *ngIf="RadarChart">
  <canvas id="RadarChart">{{ RadarChart }}</canvas>
</div>

<div *ngIf="HorizontalBarChart">
  <canvas id="HorizontalBarChart">{{ HorizontalBarChart }}</canvas>
</div>

<div *ngIf="PolarAreaChart">
  <canvas id="PolarAreaChart">{{ PolarAreaChart }}</canvas>
</div>

<div *ngIf="BubbleChart">
  <canvas id="BubbleChart">{{ BubbleChart }}</canvas>
</div>

<div *ngIf="ChartDataLabels">
  <canvas id="ChartDataLabels">{{ ChartDataLabels }}</canvas>
</div>